
#pagination > .pagination {
  justify-content: center;
      background-color: #242724;
      padding: 15px 0px;
      color: wheat;
  }

  #pagination > .pagination > li{
    padding: 0px 10px;
  }
  #pagination > ul.pagination {
    margin-bottom: 0px;
  }
  #pagination > .pagination > .active{
    border-bottom: 1px solid wheat;
    padding: 0px 10px;
}